<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="scriptFolder" value="C:\ProgramData\Tecan\EVOware\database\scripts\"/>
    <add key="exePath" value="C:\Program Files (x86)\TECAN\EVOware\Evoware.exe"/>
    <add key="user" value="Admin"/>
    <add key="password" value="12345"/>
  </appSettings>
</configuration>
