<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="scriptFolder" value="C:\ProgramData\Tecan\EVOware\database\scripts\"/>
    <add key="exeDriver" value="d:\"/>
    <add key="user" value="Admin"/>
    <add key="password" value="12345"/>
    <add key="oneThousandTips" value="3*N+20+(N+1)/16"/>
    <add key="twoHTips" value="3*N+20+(N+1)/16"/>
  </appSettings>
</configuration>
