<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="wellsPerTime" value="4"/>
    <add key="threshold" value="0.5"/>
    <add key="workingFolder" value="D:\projects\SaintLake\trunk\PolyU\doc\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
