<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="wellsPerTime" value="4"/>
    <add key="removeSmallest" value="true"/>
    <add key="workingFolder" value="C:\projects\PolyU\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
